<%- include('partials/header') %>

<div class="center">
  <h1 style="font-size:5rem;">Welcome to art gallery </h1>
  <p style="font-size: medium;">Scroll down to register or login</p>
</div>


 
  <div class="container divs">
    <h1>Hey, this is Shrishail. </h1> 
    <h2>I love to sketch. I am very happy to showcase my sketches. Thanks you to come here i hope you will like my gallery </h2>
    <a class="btn btn-light btn-lg buton " href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg buton" href="/login" role="button">Login</a>
</div>
<div class="center2">

</div>




<%- include('partials/footer') %>
